blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
click @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/click_1729040674118/work
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
Flask @ file:///C:/b/abs_a6m37uz578/croot/flask_1737454335662/work
Flask-Login==0.6.3
itsdangerous @ file:///C:/Users/dev-admin/buildout/croot/itsdangerous_1732929022589/work
Jinja2 @ file:///C:/b/abs_10zs3i4lof/croot/jinja2_1737760123028/work
MarkupSafe @ file:///C:/b/abs_a9k8j__c_q/croot/markupsafe_1736370039866/work
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.2
setuptools==75.8.0
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
wheel==0.44.0
